@charset "utf-8";
/* CSS Document */


/*================头部===============*/
.mapheader {
    background: #fff;
    height: 70px;
	border-bottom: 1px solid #ddd;
}
.mapname {
    color: #48b7bd;
    font-size: 36px;
    font-weight: bold;
    float: left;
    padding: 5px 15px;
}
.mapsearch {
	float: right;
	width: 800px;padding: 18px 15px;
}

/*================侧边===============*/
.left-panel-link {
    text-decoration: none;
    width: 13px;
    height: 56px;
    box-shadow: 2px 1px 3px 0px rgba(97, 97, 97, 0.42);
    display: block;
    position: absolute;
    top: 45%;
    left: 400px;
    z-index: 1000000;
}
.panel {
    position: absolute;
    z-index: 1;
	width: 400px;
	border-radius: 0px;
	border: none;
    box-shadow: 4px 2px 4px 0px rgba(97, 97, 97, 0.27);
	margin-bottom: 0;
}
.mapbox {
    height: 100%;
    margin-left: 400px;
}
.map-liesearch {
	border-bottom: 1px solid #ddd;
    margin: 0;
    padding: 10px 5px;
}
.map-lie li a {
	display: block;
    border-bottom: 1px solid #ddd;
    padding: 20px 15px;
	cursor: pointer;
}
.map-lie li a:hover {
	background: #f0f3f3;
}
.pone {
	color: #333;
	font-size: 15px;
    margin-bottom: 5px;
	height: 22px;
}
.pone ul li {
	float: left;
    padding: 0 8px 5px 8px;
}
.pone ul li:first-child {
	padding-left: 0;
}
.ptwo {
	color: #8e8e8e;
    margin-bottom: 0;
}
.ptwo span{
    float: right;
}
.fenye{
	text-align: right;
	margin-right: 15px;
}
