<style>
	* {
		padding: 0px;
		margin: 0px;
	}
	.tb {
	height:50px;
	background:#5f9ea0 !important;
	line-height:50px;
	padding-left:20px;
	font-size:18px;
	color:#fff;
	}
</style>
<div class="tb">
	@{
		string yhm = (string)ViewData["yhm"];
		System.Console.Write(yhm + "1212");
	}
	欢迎<a href="#">@yhm</a>登陆后台

</div>
